/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lilita One', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
a {
  font-family: 'Lilita One', cursive;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px;
  align-items: baseline;
}
@media (max-width: 868px) {
  header {
    flex-direction: column;
    margin: 0 0 20px;
    align-items: center;
  }
}
header h3 {
  font-size: 3rem;
}
header nav {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 868px) {
  header nav {
    width: 90%;
    padding: 30px 0 0;
  }
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
footer {
  padding: 40px 0;
  background-color: #000000d9;
  margin-top: -1px;
}
footer .flex-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  align-items: baseline;
}
footer .flex-container #contact {
  font-size: 2.5rem;
}
footer a {
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
footer .icons {
  display: flex;
  font-size: 3rem;
  width: 10%;
  justify-content: space-between;
}
.top-section {
  background-color: #f6f6f8;
  padding: 40px 0;
}
@media (max-width: 868px) {
  .top-section {
    padding: 20px 0 0;
  }
}
.top-section .content-one {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 868px) {
  .top-section .content-one {
    flex-direction: column;
  }
}
.top-section .content-one img {
  width: 53%;
  height: 40%;
}
@media (max-width: 868px) {
  .top-section .content-one img {
    width: 100%;
    display: none;
  }
}
.top-section .content-one .titleButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 868px) {
  .top-section .content-one .titleButton {
    background-image: url(../IMAGES/carouselpic3.jpg);
    background-size: cover;
    height: 400px;
  }
}
.top-section .content-one .titleButton h1 {
  margin: 10px 0;
  text-align: center;
}
.top-section .content-one .titleButton a {
  text-align: center;
}
.top-section .content-one .titleButton a button {
  margin-top: 20px;
  width: 200px;
  height: 60px;
  background-color: #000000d9;
  border-radius: 20px;
  font-size: 2rem;
  color: white;
}
.content-two {
  background-color: #99a2af6b;
  padding: 40px 0;
}
.content-two h2 {
  font-size: 6rem;
}
@media (max-width: 868px) {
  .content-two h2 {
    font-size: 3.5rem;
  }
}
.content-two .flex-container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 868px) {
  .content-two .flex-container {
    flex-direction: column;
  }
}
.content-two .flex-container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}
@media (max-width: 868px) {
  .content-two .flex-container .title {
    flex-direction: row;
    margin: 0 0 20px;
  }
}
.content-two .flex-container .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
@media (max-width: 868px) {
  .content-two .flex-container .cards {
    width: 100%;
    padding: 0 2%;
  }
}
.content-two .flex-container .cards h3 {
  font-size: 2.4rem;
}
.content-two .flex-container .cards .card {
  margin-bottom: 20px;
}
.content-three {
  background-color: #f6f6f8;
  padding: 40px 0;
}
@media (max-width: 868px) {
  .content-three {
    padding: 0;
  }
}
.content-three .flex-container {
  display: flex;
  align-items: center;
}
@media (max-width: 868px) {
  .content-three .flex-container {
    flex-direction: column;
  }
}
.content-three .flex-container .carouselAndButtons {
  display: flex;
  flex-direction: column;
}
.content-three .flex-container .carouselAndButtons .buttons {
  display: flex;
  justify-content: center;
  width: 80%;
}
.content-three .flex-container .carouselAndButtons .buttons .carouselButton {
  background-color: #000000d9;
  color: white;
  height: 40px;
  width: 34%;
  font-size: 1.6rem;
}
@media (max-width: 868px) {
  .content-three .flex-container .carousel {
    order: 2;
  }
}
.content-three .flex-container img {
  width: 80%;
}
@media (max-width: 868px) {
  .content-three .flex-container img {
    width: 100%;
  }
}
.content-three .flex-container .hidden {
  display: none;
}
.content-three .flex-container h2 {
  font-size: 4.5rem;
}
@media (max-width: 868px) {
  .content-three .flex-container h2 {
    order: 1;
    display: none;
  }
}
