.top-section {
  background-color: #f6f6f8;
  padding: 40px 0;

  @media @phone {
    padding: 20px 0 0;
  }

  .content-one {
    display: flex;
    justify-content: space-between;

    @media @phone {
      flex-direction: column;
    }

    img {
      width: 53%;
      height: 40%;

      @media @phone {
        width: 100%;
        display: none;
      }
    }

    .titleButton {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media @phone {
        background-image: url(../IMAGES/carouselpic3.jpg);
        background-size: cover;
        height: 400px;
      }

      h1 {
        margin: 10px 0;
        text-align: center;
      }

      a {
        text-align: center;

        button {
          margin-top: 20px;
          width: 200px;
          height: 60px;
          background-color: #000000d9;
          border-radius: 20px;
          font-size: 2rem;
          color: white;
        }
      }
    }

  }
}

.content-two {
  background-color: #99a2af6b;
  padding: 40px 0;

  h2 {
    font-size: 6rem;

    @media @phone {
      font-size: 3.5rem;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-between;

    @media @phone {
      flex-direction: column;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 5%;

      @media @phone {
        flex-direction: row;
        margin: 0 0 20px;

      }
    }

    .cards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;

      @media @phone {
        width: 100%;
        padding: 0 2%;
      }

      h3 {
        font-size: 2.4rem;
      }

      .card {
        margin-bottom: 20px;
      }
    }
  }
}

.content-three {
  background-color: #f6f6f8;
  padding: 40px 0;

  @media @phone {
    padding: 0;
  }

  .flex-container {
    display: flex;
    align-items: center;

    @media @phone {
      flex-direction: column;
    }

    .carouselAndButtons {
      display: flex;
      flex-direction: column;

      .active-button {
        width: 100px;
      }

      .buttons {
        display: flex;
        justify-content: center;
        width: 80%;

        .carouselButton {
          background-color: #000000d9;
          color: white;
          height: 40px;
          width: 34%;
          font-size: 1.6rem;
        }
      }
    }

    .carousel {
      @media @phone {
        order: 2;
      }
    }

    img {
      width: 80%;
      display: none;

      @media @phone {
        width: 100%;
      }
    }

    h2 {
      font-size: 4.5rem;

      @media @phone {
        order: 1;
        display: none;
      }
    }
  }

}