footer {
  padding: 40px 0;
  background-color: #000000d9;

  .flex-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
  }

  a {
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }

  .icons {
    display: flex;
    font-size: 3rem;
    width: 10%;
    justify-content: space-between;

  }
}